<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<title>Judicial Diary</title>
</head>



<body>
<div class="grid-container">
<header class="row">
<div>
    <a class="brand" href="index.html">Judicial Diary</a>
</div>


<div><a href="signin.html">Sign In</a>
<a href="booklawyer.html">Book Lawyer</a>
</div>


</header>
<main>
  <div>
<div class="row center">
<div class="card">
<a href="profile.html">
<img class="medium" src="./images/lawyer1.jpg" atl="profile"/>

</a>

<div class="card-body">
<a href="profile.html">
<h2>Muhammad Ashraf Advocate</h2>


</a>

<div class="rating">
    <span> <i class="fa fa-star"></i> </span>
    <span> <i class="fa fa-star"></i> </span>
    <span> <i class="fa fa-star"></i> </span>
    <span> <i class="fa fa-star"></i> </span>
    <span> <i class="fa fa-star"></i> </span>
  </div>

<div class="Fee">
Starting From 50000 Rs
</div>
</div>

</div>


<div class="card">
    <a href="profile.html">
    <img class="medium" src="./images/lawyer1.jpg" atl="profile"/>
    
    </a>
    
    <div class="card-body">
    <a href="profile.html">
    <h2>Muhammad Ashraf Advocate</h2>
    
    
    </a>
    
    <div class="rating">
        <span> <i class="fa fa-star"></i> </span>
        <span> <i class="fa fa-star"></i> </span>
        <span> <i class="fa fa-star"></i> </span>
        <span> <i class="fa fa-star"></i> </span>
        <span> <i class="fa fa-star"></i> </span>
      </div>
    
    <div class="Fee">
    Starting From 50000 Rs
    </div>
    </div>
    
    </div>


    <div class="card">
        <a href="profile.html">
        <img class="medium" src="./images/lawyer1.jpg" atl="profile"/>
        
        </a>
        
        <div class="card-body">
        <a href="profile.html">
        <h2>Muhammad Ashraf Advocate</h2>
        
        
        </a>
        
        <div class="rating">
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
          </div>
        
        <div class="Fee">
        Starting From 50000 Rs
        </div>
        </div>
        
        </div>



        <div class="card">
            <a href="profile.html">
            <img class="medium" src="./images/lawyer1.jpg" atl="profile"/>
            
            </a>
            
            <div class="card-body">
            <a href="profile.html">
            <h2>Muhammad Ashraf Advocate</h2>
            
            
            </a>
            
            <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
            
            <div class="Fee">
            Starting From 50000 Rs
            </div>
            </div>
            
            </div>



            <div class="card">
                <a href="profile.html">
                <img class="medium" src="./images/lawyer1.jpg" atl="profile"/>
                
                </a>
                
                <div class="card-body">
                <a href="profile.html">
                <h2>Muhammad Ashraf Advocate</h2>
                
                
                </a>
                
                <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                
                <div class="Fee">
                Starting From 50000 Rs
                </div>
                </div>
                
                </div>



                <div class="card">
                    <a href="profile.html">
                    <img class="medium" src="./images/lawyer1.jpg" atl="profile"/>
                    
                    </a>
                    
                    <div class="card-body">
                    <a href="profile.html">
                    <h2>Muhammad Ashraf Advocate</h2>
                    
                    
                    </a>
                    
                    <div class="rating">
                        <span> <i class="fa fa-star"></i> </span>
                        <span> <i class="fa fa-star"></i> </span>
                        <span> <i class="fa fa-star"></i> </span>
                        <span> <i class="fa fa-star"></i> </span>
                        <span> <i class="fa fa-star"></i> </span>
                      </div>
                    
                    <div class="Fee">
                    Starting From 50000 Rs
                    </div>
                    </div>
                    
                    </div>



                    <div class="card">
                        <a href="profile.html">
                        <img class="medium" src="./images/lawyer1.jpg" atl="profile"/>
                        
                        </a>
                        
                        <div class="card-body">
                        <a href="profile.html">
                        <h2>Muhammad Ashraf Advocate</h2>
                        
                        
                        </a>
                        
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                          </div>
                        
                        <div class="Fee">
                        Starting From 50000 Rs
                        </div>
                        </div>
                        
                        </div>




                        <div class="card">
                            <a href="profile.html">
                            <img class="medium" src="./images/lawyer1.jpg" atl="profile"/>
                            
                            </a>
                            
                            <div class="card-body">
                            <a href="profile.html">
                            <h2>Muhammad Ashraf Advocate</h2>
                            
                            
                            </a>
                            
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                              </div>
                            
                            <div class="Fee">
                            Starting From 50000 Rs
                            </div>
                            </div>
                            
                            </div>


</div>
</main>

<footer class="row center">Copyright © 2018-2022 COMSATS. All Rights Reserved.</footer>
</div>
</body>
</html>